@font-face {
    font-family:'Open Sans';
    src:url(fonts/opensans-regular.ttf);
}

body {
    background:#6497fb;
    font-size:14px;
    font-family:'Open Sans';
}

#section0{
    height:100vh;
}

.container0{
    position: absolute;
    margin-top: 24vh;
    width: 560px;
    margin-left: 15vw;
}

.firstPage{
    height: 100vh;
}

.firstPage .repoIcon{
    float: left;
    margin-left: 180px;
}

.firstPage p{
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.9375em;
    margin-left: 235px;
}

.firstPage .bold{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #ffffff;
    font-size: 31px;
    text-align: center;
}

.firstPage h3{
    font-family: 'Open Sans';
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 105px;
}

.firstPage h4{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 42px;
}

.myButton {
    display: block;
    margin: 0 auto;
    background-color:transparent;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #ffffff;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Open Sans';
    font-size:12px;
    font-weight:bold;
    padding-top: 8px;
    padding-bottom: 21px;
    padding-right: 40px;
    padding-left: 40px;
}

.myButton:hover {
    background-color:#ffffff;
    color: #6497fb;
}

.iphone{
    position: relative;
    float: right;
    margin-top: 15vh;
}

.iphoneMobile{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

/* 2nd Page */

#section1{
    height: 100vh;
}

.iphone2{
    position: absolute;
}

.container1{
    width: 45vw;
    float: right;
    margin-right: 10vw;
}

.secondPage{
    height: 100vh;
}

.secondPage .repoIcon{
    float: right;
    margin-top: 75px;
    margin-right: 15px;
}

.secondPage .repo{
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #ffffff;
    font-size: 22px;
    float: right;
    margin-top: 77px;

}

.secondPage .bold{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    margin-top: 77px;
}

.secondPage h2{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 182px;
    opacity: 0.37;
    color: #ffffff;
    margin-left: 330px;
    margin-top: 175px;
}

.secondPage h3{
    font-family: 'Merriweather';
    font-size: 34px;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    margin-top: -100px;
    margin-left: 250px;
}

.texte{
    margin-top: 133px;
}

.texte p{
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Open Sans';
    color: #ffffff;
    margin-top: 15px;
    margin-left: 70px;
}

/* 3rd Page */

#section2{
    height: 100vh;
}

.iphone3{
    float: right;
    margin-right: -50px;
}

.container2{
    position: absolute;
    width: 42vw;
    margin-left: 7vw;
}

.thirdPage{
    height: 100vh;
}

.thirdPage .repoIcon{
    margin-top: 75px;
    float: left;
}

.thirdPage .repo{
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #ffffff;
    font-size: 22px;
    margin-top: 77px;
    margin-left: 51px;
}

.thirdPage .bold{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}

.thirdPage h2{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 182px;
    opacity: 0.37;
    color: #ffffff;
    margin-left: 8vw;
    margin-top: 100px;
}

.thirdPage h3{
    font-family: 'Merriweather';
    font-size: 34px;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    margin-top: -100px;
    margin-left: 200px;
}

.texte2{
    width: 392px;
    margin-top: 133px;
    margin-left: 14vw;
}

.texte2 p{
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Open Sans';
    color: #ffffff;
    margin-top: 15px;
}

/* 4th Page */


#section3{
    height: 100vh;
}

.iphone4{
    position: absolute;
}

.fourthPage{
    height: 100vh;
}

.fourthPage .repoIcon{
    float: right;
    margin-top: 75px;
    margin-right: 15px;
}

.fourthPage .repo{
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #ffffff;
    font-size: 22px;
    float: right;
    margin-top: 77px;
}

.fourthPage .bold{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}

.fourthPage h2{
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 182px;
    opacity: 0.37;
    color: #ffffff;
    margin-left: 330px;
    margin-top: 175px;
}

.fourthPage h3{
    font-family: 'Merriweather';
    font-size: 34px;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    margin-top: -100px;
    margin-left: 250px;
}

.texte{
    margin-top: 133px;
}

.texte p{
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Open Sans';
    color: #ffffff;
    margin-top: 15px;
}

@media (max-width:1150px){
    .firstPage{
        height: 100vh;
    }

    .firstPage .repoIcon{
        float: initial;
        display: inline-block;
        margin-left: 28vw;
        margin-top: 5vh;
        height: 65px;
        width: 71px;
    }

    .firstPage p{
        display: inline-block;
        margin-left: 0px;
        font-size: 85px;
    }

    .firstPage .bold{
        font-size: 85px;
    }

    .firstPage .iphone{
        visibility: hidden;
    }

    .firstPage .iphoneMobile{
        width: 900px;
        height: 1350px;
        visibility: visible;
        margin-left: 5vw;
        margin-top: -4vh;
    }

    .firstPage .container0{
        height: 100vh;
        width: 100vw;
        margin-top: 0px;
        margin-left: 0px;
    }

    .firstPage h3{
        text-align: center;
        margin-top: -10vh;
        font-size: 75px;
        font-weight: 700;
    }

    .firstPage h4{
        font-size: 45px;
        margin-top: 5vh;
    }

    .myButton{
        font-size: 50px;
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 90px;
        padding-left: 70px;
        padding-right: 70px;
        border-radius: 70px;
        margin-top: 5vh;
    }

    .secondPage .repoIcon{
        margin-right: 12vw;
    }

    .secondPage .repo{
    }

    .secondPage .iphone2{
        margin-left: 20vw;
    }

    .secondPage h2{
        margin-left: 9vh;
        margin-top: 0px;
    }

    .secondPage h3{
        margin-left: 8vh;
    }

    .secondPage .texte{
        margin-left: -16vh;
        text-align: center;
    }
}




